
h1 {
    color: #305ae6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 70px;
    text-shadow: black 4px 2px 0;
    text-align: center;
      
}


.date {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;';
}

.stars_text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 300px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;';
}

.flex-container {
display: flex;
margin-left: 5px;
border: 1px solid red;
border-radius: 15px;

    
}

.flex-container div {
    background: white;
    background: radial-gradient(rgb(58, 106, 229), rgb(209, 114, 226));
    background-size: cover;
    border: 2px solid rgb(54, 162, 230);
    height: 250px;
    width: 250px;
    margin: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    padding: 3px;
    
}

.box1,
.box2,
.box3 {
   overflow: hidden;
  text-align: center;
}

.box1 img,
.box2 img,
.box3 img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-top: 10px;
    padding-left: 50px;

    

}